.main-container
  #search-methods-container
    %ul#search-methods-selector
      %li.current.active
        %a{href: "#facet", data: {toggle: :tab, target: "#facet-method, #facet-result"}} Facet
      %li
        %a{href: "#sequence", data: {toggle: :tab, target: "#sequence-method, #sequence-result"}} Sequence
      %li
        %a{href: "#converter", data: {toggle: :tab, target: "#converter-method, #converter-result"}} ID converter
      %li
        %a{href: "#resolver", data: {toggle: :tab, target: "#resolver-method, #resolver-result"}} ID resolver
      %li{class: "search-methods-visibility-button"} Hide

    #methods.tab-content
      #facet-method.tab-pane.active
        Facet page
      #sequence-method.tab-pane
        .method-container#sequence-container
          .inner
            = form_tag(api_sequence_search_path, method: :get, class: 'form-search') do
              = search_field_tag 'fragment', params[:fragment], class: 'input-xlarge'
              = button_tag 'Search', class: 'tg-button'
            .small-note
              %p Search genomic sequences by an arbitrary sub-string of any DNA sequence fragments (e.g., "TGGAATTGTGAGCGGATAACAATT" for <i>lac</i> operator reported by <a href="http://www.ncbi.nlm.nih.gov/pubmed/4587255" target="_blank">Gilbert W and Maxam A, 1973</a>)
      #converter-method.tab-pane
        ID Converter
      #resolver-method.tab-pane
        ID Resolver

  .tab-content#genomes.row-fluid
    #facet-result.tab-pane.active
      Facet result
    #sequence-result.tab-pane
      Sequence result
    #converter-method.tab-pane
      ID Converter result
    #resolver-method.tab-pane
      ID Resolver result
