.main-container
  #search-methods-container
    %ul#search-methods-selector
      %li
        %a{href: "#facet", data: {toggle: :tab}} Facet
      %li.current.active
        %a{href: "#sequence", data: {toggle: :tab}} Sequence
      %li
        %a{href: "#converter", data: {toggle: :tab}} ID converter
      %li
        %a{href: "#resolver", data: {toggle: :tab}} ID resolver
      %li{class: "search-methods-visibility-button"} Hide

    .tab-content
      #facet.tab-pane
        = react_component('FacetPage')
      #sequence.tab-pane.active
        = react_component('SequencePage')
      #converter.tab-pane
        = react_component('ConverterPage')
      #resolver.tab-pane
        = react_component('ResolverPage')
